extends layout

block content
  div(class="container")

    row(class='row')
      div(class='col-xs-12 col-md-8 center')
        input(id="ex16b", type="text", size='400', style="width: 100%;")
        br
        br
        div(class="dropdown")
          button(class="btn btn-primary dropdown-toggle",type="button",data-toggle="dropdown") Select Record
            span(class="caret")
          ul(class="dropdown-menu")
            each record in records
              li
                a(href="/records/#{record['id']}") (##{record['id']}) #{record['startedatetime']} #{record['description']} #{record['url']} #{record['browser']}
        br

        table(class="table table-responsive table-hover table-striped tablesorter", id="detailed_har_entries", data-show-export="true",data-toggle="table", data-toolbar="#toolbar", data-click-to-select="true",  data-height="700", data-show-pagination-switch="true", data-pagination="true", data-search="true", data-show-refresh="true", data-show-toggle="true", data-show-columns="true", width="600px"  data-url="/records/#{id}/detailed_har_entries.json")
          thead
            tr(class='detailed_har_entry_row')
              th(data-field="state",data-checkbox="true")
              th(class='col-md-3 id', data-field='id', data-sortable="true") Id
              th(class='col-md-3 start_date_time', data-field='start_date_time', data-sortable="true") Start Date Time
              th(class='col-md-3 end_date_time', data-field='end_date_time', data-sortable="true" ) End Date Time
              th(class='col-md-3 time', data-field='time', data-sortable="true") Time
              th(class='col-md-3 bodysize', data-field='bodysize', data-sortable="true") Body Size
              th(class='col-md-3 headerssize', data-field='headerssize', data-sortable="true") Header Size
              th(class='col-md-3 address', data-field='address', data-sortable="true") Address
              th(class='col-md-3 url', data-field='URL') URL
              th(class='col-md-3 status', data-field='status', data-sortable="true") Status
              th(class='col-md-3 host', data-field='Host', data-sortable="true") Host
              th(class='col-md-3 source', data-field='Source') Source